<?xml version="1.0"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    version="1.0">

      <persistence-unit name="FamilyTree" transaction-type="RESOURCE_LOCAL">
        <provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>

	<!-- Classes may instead be loaded based on annotations, but that requires the OpenJPA
	     enhancement and may throw a duplicate class definition error -->
	<class>se.abc.dendrogram.model.Event</class>
	<class>se.abc.dendrogram.model.EventType</class>
	<class>se.abc.dendrogram.model.Person</class>
	

        <properties>
            <property name="openjpa.ConnectionURL" 
                value="jdbc:postgresql://localhost:5432/family_tree"/>
            <property name="openjpa.ConnectionDriverName" 
                value="org.postgresql.Driver"/>
            <property name="openjpa.ConnectionUserName" 
                value="genealogist"/>
            <property name="openjpa.ConnectionPassword" 
                      value="Dtyhboys"/>
	    
	    <!-- If you unset the following property, you might have to provide the -XX:+AlwaysLockClassLoader
		 parameter to your JVM.-->
	    <property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
	    <!-- Inhibit JPA startup messaages. -->
	    <property name="openjpa.Log" value="DefaultLevel=WARN, Tool=INFO"/>
        </properties>
   </persistence-unit>
	
</persistence>
