<?xml version="1.0"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
  
  <persistence-unit name="FamilyTree">
    <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
    
    <properties>
      <property name="hibernate.archive.autodetection" value="class"/>

      <!--  PostgreSQL connection -->
      <property name="hibernate.connection.url" value="jdbc:postgresql://localhost:5432/family_tree"/>
      <property name="hibernate.connection.username" value="genealogist"/>
      <property name="hibernate.connection.driver_class" value="org.postgresql.Driver"/>
      <property name="hibernate.connection.password" value="Dtyhboys"/>
      
      <property name="transaction.factory_class" value="org.hibernate.transaction.JDBCTransactionFactory"/>
      
      <!--  thread is the short name for
	   org.hibernate.context.ThreadLocalSessionContext
	   and lets Hibernate bind the session automatically to the thread
      -->
      <property name="hibernate.current_session_context_class" value="thread"/>
      <!-- this will (not) show us all sql statements -->
      <property name="hibernate.show_sql" value="false"/>

    </properties>
  </persistence-unit>
</persistence>
